### Exercise: SQL queries

In this exercise, you will continue to work with the database db that we defined in the previous unit. Specifically, you will have to answer the following questions by writing a single SQL query for each one:

1) What was the duration of the longest trip?

2) How many trips were ended at the station ‘2nd at South Park ‘?

3) How many trips had a duration between 1000 and 2000?

4) Which bike was used for the most trips?

5) Which are the top five stations for the number of round trips? (round trips start and end at the same station).

Hint: To count the number of selected rows you can use the aggregate function COUNT inside the SELECT statement. Including COUNT(*) will count every row while include COUNT(column_name) will count all the rows that have a non-null value in the specified column.

#### What was the duration of the longest trip?

In [1]:
import pandas as pd
import sqlite3
# Connect to the database:
db = sqlite3.connect("c2_database.sqlite")

def run_query(query):
    return pd.read_sql_query(query, db)

In [2]:
query = '''
SELECT start.city AS "Start city", end.city AS "End city", trip.duration
FROM trip
INNER JOIN station AS start
ON trip.start_station_name = start.name
INNER JOIN station AS end
ON trip.end_station_name = end.name
WHERE start.city != end.city
ORDER BY duration DESC
LIMIT 1;
'''
run_query(query)

      Start city       End city  duration
0  Mountain View  San Francisco    179330

#### 2. How many trips were ended at the station ‘2nd at South Park ‘?

In [ ]:
query = '''
SELECT station.city AS "City", COUNT(*) AS "Count"
FROM trip 
INNER JOIN station
ON trip.start_station_name = station.name
GROUP BY station.city;
'''
run_query(query)